# ignoring pycharm configuration folder
.idea
# ignoring cache
__pycache__
# Old backup data
backupdata.txt
# Other old backup data
data.csv
# testing file
prelim.py
# Not pushing any environment variables
.env