body   
{
    /* background-image:url('img/bkg.jpg'); */
    background-repeat: repeat-x; 
    background-attachment: fixed;
    background-color:#868686;
    font-size: 14px;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
}

.header
{
    background-color:#DF3723; 
    text-align: center;
    border-bottom: 0px solid black;
}


.navbar-collapse ul li a {
    font-size: 14pt;
    font-weight:500;
}

.navbar-collapse ul li a:link  {
    font-size: 14pt;
    font-weight:500;
    color:white;
}

.navbar-collapse ul li a:visited  {
    font-size: 14pt;
    font-weight:500;
    color:white;
}

.navbar-collapse ul li a:hover {
    font-size: 14pt;
    font-weight:500;
    color:black;
}

.navbar-collapse ul li a:active {
    font-size: 14pt;
    font-weight:500;
    color:black;
}
    
.navbar-toggle {
    border-color: white;
}

.navbar-toggle span {
    color:white;
}

/*
.HeaderMenu
{
    font-weight: bold;
    font-size: 16pt;
    background-color:#868686;
}


.HeaderMenu ul
{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
}

.HeaderMenu ul li
{
    display: inline-block;
    padding: 10px;
}

.HeaderMenu ul li a
{
    white-space: nowrap;
}

.header span
{
   font-size: 30px;
   font-weight: bold; 
}
     */

.content
{
    background-color: #fff;
    padding: 0;
    margin-top: 35px;
    margin-bottom: 10px;
}
.container.page, .container-fluid.page
{
    background: #fff;
}

.results span
{
   font-size: 20px;
   font-weight: bold;
   vertical-align: bottom;  
   padding-left: 15px; 
}

.MyResultsDescr
{
 font-size: small;  
 padding-left: 15px;
 padding-top: 5px;
}

.announcements
{
    background-color: White;
    margin-top: 15px;
    text-align: left;
    padding-top: 10px;
    padding-bottom:10px;
}


.announcements span.Title
{
   font-size: 16pt;
   font-weight: bold;
   vertical-align: bottom;  
   padding-left: 15px; 
}


.AnnoucementTitle
{
 font-size: 14pt;  
 padding-left: 15px;
 padding-top: 5px;
 font-weight: bold;
 display: inline;
 color: #DF3723;
}

.AnnoucementDateRight
{
 font-size: 10pt;  
 padding-right: 15px;
 padding-top: 5px;
 font-weight: bold;
 text-align: right;
 display: inline;
 float: right;
}

.AnnoucementDate
{
 font-size: 10pt;  
 padding-left: 15px;
 padding-top: 5px;
 font-weight: bold;
 display: inline;
}

.AnnoucementBody
{  
 padding-left: 15px;
 padding-top: 5px;
 clear: both;
}

.AnncouncementDiv
{
    padding-top: 5px;
    padding-bottom: 15px;
}

.AnncouncementAlternatingDiv
{
    background-color: #f2f2f2;
    padding-top: 5px;
    padding-bottom: 15px;
}

.PageBody
{
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 25px;
    margin-bottom: 25px;
    text-align: left;
    padding-top: 10px;
    padding-bottom:10px;
    padding-left: 5px;
    padding-right: 5px;
    
}

h1
{
   font-size: 24pt;
   font-weight: bold; 
   margin: 0px 0px 0px 0px;
}

h2
{
   font-size: 16pt;
   font-weight: bold; 
   margin: 0px 0px 0px 0px;
}

h3
{
   font-size: 12pt;
   font-weight: bold; 
   margin: 0px 0px 0px 0px;
}

span.Note
{
    font-size: 10pt;
    color: #6d6d6d;   
}

div.SiteLocation
{
    font-weight: bold;
    font-size: 13px;
}

div.SiteLocationUpdate
{
    font-size: larger;
}

#lblEventTitle
{
    color: #ffffff;
}

div.tab
{
    padding-left: 15px;
}

/**  Management Pages **/
div.ManagementPageBody
{
    background-color: White;
    text-align: left;
    margin-top: 20px;
    padding-bottom: 20px;
    padding-top: 10px;
    padding-left: 20px;
}

div.ManagementPageTitle
{
    font-weight: bold;
    font-size: 16pt;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    margin-right: 20px;
    background-color: #BBBBBB;
}

div.ManagementPageSubTitle
{
    font-weight:normal;
    font-size: 12pt;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    margin-right: 20px;
    background-color: #DDDDDD;
}

/** settings Page **/

div.NewSettingBody
{
    text-align: left;
    background-color: #BBBBBB;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-right: 20px;
}

div.NewSettingInner
{
    text-align: left;
    margin: 10px 15px 10px 20px;
    padding: 15px 0px 15px 25px;
    background-color: #f0f0f0;
}

div.NewSettingBodyError
{
    text-align: left;
    background-color: #BBBBBB;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-right: 20px;
}

div.LocalTime
{
    font-weight:bold;
    padding: 0px 0px 0px 14px;
    width: 100px;
    display: inline;
}

/** Admin Events Page**/

div.AvailableEventsList
{
    padding: 5px 0px 5px 25px;
    background-color: #BBBBBB;
}

div.AvailableEvent
{
    padding: 0px 0px 2px 0px;
    background-color: #DDDDDD;
}

#footer 
{
    font-size: 0.7em;
    text-align: center;
    color: #000;
}

#footer > div
{
    margin: 5px;
}

th, td
{
    padding: 5px;
    font-size: 12px;
}

.spacing-top 
{
    margin-top: 15px;
}
.spacing-bottom 
{
    margin-bottom: 15px;
}
.spacing-top-bottom
{
    margin-top: 15px;
    margin-bottom: 15px;
}
.no-margin 
{
    margin:0;
}

@media (min-width: 768px) 
{
    .content
    {
        padding: 10px;
        margin-top:15px;
    }
    .container.page, .container-fluid.page
    {
        background: none;
    }
    
    th, td 
    {
        font-size: 14px;
    }
}

.section-label  
{
    font-weight: bold; 
}

.underline 
{
    text-decoration: underline;
}

.huge-text 
{
    font-size: 100px; 
    font-weight: bold;
}

textarea 
{
    max-width: 550px;
}

.error-msg 
{
    color: Red;
    font-weight: bold;
}